p{
    color:rgb(255, 255, 255);
    font-size:medium;
    font-family:sans-serif;
    text-align: center;


}
body{
    color:rgb(0, 0, 0);
    background-color:rgb(110, 110, 110);
}
img{ 
    width: 100;

}
.unifrakturcook {
    font-family: "unifraktuCook" fantasy;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}




.name{
    font-size:medium;
    font-family:sans-serif;
    text-align: center;
}
